#objective {
  background-color: rgb(207, 207, 207);
  margin-top: 0;
  margin-bottom: 0;
  padding: 5%;
  text-align: right;
}

h1 {
  display: block;
  text-align: center;
  color: rgb(245, 245, 245);
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  border-bottom: rgb(245, 245, 245) solid 2px;
  letter-spacing: 2px;
}
h2 {
  display: block;
  color: rgb(50, 50, 50);
  font-optical-sizing: auto;
  font-weight: 525;
  text-transform: capitalize;
}
h3 {
  display: block;
  color: rgb(75, 75, 75);
  font-optical-sizing: auto;
  font-weight: 418;
}
p {
  display: block;
  text-indent: none;
  margin: auto 3%;
  font-size: 0.9rem;
  font-weight: 300;
}
ul {
  text-indent: none;
  margin: auto 3%;
  font-size: 0.9rem;
  font-weight: 300;
  list-style-type: square;
}
ol li {
  text-indent: none;
  margin: auto 3%;
  font-size: 0.86rem;
  font-weight: 300;
}
b {
  font-optical-sizing: auto;
  font-weight: 552;
}
footer {
  color: rgb(245, 245, 245);
  text-align: center;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  font-family: "Courier New", Courier, monospace;
  margin-top: 10%;
}
header {
  background-color: rgb(50, 50, 50);
}
.bdy {
  display: block;
  display: block;
  color: #010203;
  background-color: rgb(225, 225, 225);
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  border: rgb(50, 50, 50) solid 2px;
  margin: 0;
}

.addr {
  text-align: right;
  color: rgb(245, 245, 245);
  padding: 5%;
  /* background-image: linear-gradient(
    rgba(250, 235, 215, 0.363) 0% ,
    rgb(51, 51, 51, 10) 100%
  ); */
  margin: 0;
}

.addr a {
  color: rgb(245, 245, 245);
}
a:hover {
  background-color: gold;
  color: blue;
}
.bld-xtra {
  font-weight: 400;
}
.prof-pic {
  width: 118px;
  height: auto;
  max-width: 125px;
  border: 1px solid rgb(245, 245, 245);
}
.lrg {
  font-size: larger;
}
.box {
  display: block;
  margin-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(225, 225, 225);
}

.col {
  color: rgb(250, 235, 215);
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Navigation Items  */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
   background-color: goldenrod;
}
.nav-list {
  display: flex;
  margin-top: 0;
  justify-content: center;
  font-size: small;
}
.nav-list a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
}
