html {
  background-color: #f0ead6;
}

h1 {
  display: block;
  text-align: center;
  color: darkslategray;
  text-transform: uppercase;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h2 {
  display: block;
  color: #007adf;
}
h3 {
  display: block;
  color: darkslategray;
}
p {
  display: block;
  text-indent: none;
  margin: auto 3%;
}
footer {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  background-color: darkslategrey;
}

.bdy {
  display: block;
	color: antiquewhite;
  font-family: sans-serif;
  font-size: 96%;
  text-align: left;
  background: #3C3B3F;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #ffd700;
}
.addr {
  text-align: right;
  color: slategray;
}
.lrg {
  font-size: larger;
  color: darkslategray;
}
.box{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}




