#objective {
  background-color: rgb(207, 207, 207);
  margin-top: 0;
  margin-bottom: 0;
  padding: 5%;
}

h1 {
  display: block;
  text-align: center;
  color: whitesmoke;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100, "wght" 200;
  border-bottom: whitesmoke solid 2px;
  letter-spacing: 2px;
}
h2 {
  display: block;
  color: rgb(50, 50, 50);
  font-optical-sizing: auto;
  font-weight: 525;
  text-transform: capitalize;
}
h3 {
  display: block;
  color: rgb(75, 75, 75);
  font-optical-sizing: auto;
  font-weight: 418;
}
p {
  display: block;
  text-indent: none;
  margin: auto 3%;
  font-size: 0.9rem;
  font-weight: 300;
}
li {
  text-indent: none;
  margin: auto 3%;
  font-size: 0.9rem;
  font-weight: 300;
  list-style-type: square;
}
b {
  font-optical-sizing: auto;
  font-weight: 552;
}
footer {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  font-family: "Courier New", Courier, monospace;
  margin-top: 10%;
}

.bdy {
  display: block;
  display: block;
  color: #010203;
  background-color: rgb(225, 225, 225);
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  border: rgb(50, 50, 50) solid 2px;
}

.addr {
  text-align: right;
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
  padding: 5%;
  /* background-image: linear-gradient(
    rgba(250, 235, 215, 0.363) 0% ,
    rgb(51, 51, 51, 10) 100%
  ); */
}

.addr a {
  color: whitesmoke;
}
a:hover {
  background-color: gold;
  color: blue;
}

.prof-pic {
  width: 118px;
  border: 1px solid whitesmoke;
}
.lrg {
  font-size: larger;
}
.box {
  display: block;
  margin-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(225, 225, 225);
}

.col {
  color: rgb(250, 235, 215);
}
