/*html {
  background-color: #f0ead6;
}*/


h1 {
  display: block;
  text-align: center;
  color:whitesmoke;
  font-weight: normal;
  text-transform: uppercase;
   font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100, 'wght' 200;
  border-bottom: whitesmoke solid 2px;
  letter-spacing: 2px;
}
h2 {
  display: block;
  color: rgb(0, 122, 223);
  font-optical-sizing: auto;
  font-weight: 480;
}
h3 {
  display: block;
  color: darkslategray;
  font-optical-sizing: auto;
  font-weight: 400;
}
p {
  display: block;
  text-indent: none;
  margin: auto 3%;
  font-size: 0.9rem;
  font-weight: 300;
}
li {
  text-indent: none;
  margin: auto 3%;
  font-size: 0.9rem;
  font-weight: 300;
  list-style-type: square;
}
b {
  font-optical-sizing: auto;
  font-weight: 552;
}
footer {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  background-color: #333333;
  font-family: "Courier New", Courier, monospace;
  margin-top: 10%;
}

.bdy {
  display: block;
  display: block;
  color: #010203;
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  background-size: 100% 100%;
  background-position: 0px 0px;
  border: #333 solid 2px;
}

.addr {
  text-align: right;
  background-color: #333;
  color: whitesmoke;
  padding: 5%;
  /* background-image: linear-gradient(
    rgba(250, 235, 215, 0.363) 0% ,
    rgb(51, 51, 51, 10) 100%
  ); */
  
}

.addr a{
  color: whitesmoke;
}
a:hover{
  background-color: gold;
  color: blue;
}
.lrg {
  font-size: larger;
}
.box {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.col{
  color: rgb(250, 235, 215)
}


