html {
  background-color: antiquewhite;
}
h1 {
  display: block;
  text-align: center;
  color: darkslategray;
  text-transform: uppercase;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h2 {
  display: block;
  color: #007adf;
}
h3 {
  display: block;
  color: darkslategray;
}
p {
  display: block;
  text-indent: none;
  margin: auto 3%;
}
footer {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  background-color: darkslategrey;
}

.bdy {
  display: block;
  font-family: sans-serif;
  font-size: 96%;
  text-align: left;
}
.addr {
  text-align: right;
  color: slategray;
}
.lrg {
  font-size: larger;
  color: darkslategray;
}
.box{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

